#login {
    /* background-size: 100% 100%;
    background-position: 0px 0px, 0px 0px;
    background-image: radial-gradient(75% 75% at -1% 100%, #FF02DD30 1%, #073AFF00 100%), conic-gradient(from 0deg at 50% 50%, #330040FF 0%, #240030FF 100%); */

    /*  */
    .container {
        position: relative;
        z-index: 1;
    }

    .login_card {
        transition: 0.2s ease-out;
        position: relative;
        z-index: 1;

    }

    .login_card:focus-within {
        border: #af24ff 1px solid;
        -webkit-box-shadow: 0px 0px 100px 5px rgba(206, 169, 255, 1);
        -moz-box-shadow: 0px 0px 100px 5px rgba(206, 169, 255, 1);
        box-shadow: 0px 0px 100px 5px rgba(206, 169, 255, 1);
    }

    /* input{
        background: none;
        outline: 1px #ffffff;
    } */
    input:focus {
        outline: none;
        box-shadow: none;
        border: 1px solid #af24ff;
    }

    .btn:focus,
    .btn:hover {
        background: var(--clr-two-dark);
    }

    .btn:active {
        background-color: var(--clr-one);
    }
}