:root {
    --clr-one: #3B1E54;
    --clr-two: #af24ff;
    --clr-three: #8746EB;
    --clr-mid: #E1A1FF;
    --clr-four: #D5BFFC;
    --clr-last: #FFFFFF26;
    --clr-two-dark: #8d1dce;
}

.bg-one {
    background-color: #3B1E54;
}

.bg-two {
    background-color: #af24ff;
}

.bg-three {
    background-color: #8746EB;
}

.bg-mid {
    background-color: #E1A1FF;
}

.bg-four {
    background-color: #D5BFFC;
}

.bg-last {
    background-color: #FFFFFF26;
}

.clr-one {
    color: #3B1E54;
}

.clr-two {
    color: #af24ff;
}

.clr-three {
    color: #8746EB;
}

.clr-mid {
    color: #E1A1FF;
}

.clr-four {
    color: #D5BFFC;
}

.clr-last {
    color: #FFFFFF26;
}

.glass_card {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.activeBtnFour:active,
.activeBtnFour:focus {
    background: var(--clr-four);
}

.activeInputMid:active,
.activeInputMid:focus {
    background: var(--clr-mid);
    /* color: white; */
    border: none;
    outline: none;
}

.outlineBtn {
    border: 2px solid var(--clr-two);
    color: #9B7EBD;
    transition: .2s ease-in-out;
}

.hoverBtn:hover,
.hoverBtn:visited,
.hoverBtn:active {
    background-color: var(--clr-two);
    color: #fff;
}

.transparent_input {
    background-color: transparent;
    border: 1px solid var(--clr-two);
    color: #fff;
}

/* Hide default checkbox */
input[type="checkbox"] {
    appearance: none;
    /* width: 20px;
    height: 20px; */
    /* border: 2px solid #555; */
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
}

/* Checked state */
input[type="checkbox"]:checked {
    background-color: var(--clr-one);
    border-color: none;
    box-shadow: none;
    outline: none;
}

input[type="checkbox"]:focus-visible {
    outline: none;
    box-shadow: none;
}

.darkInput:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #af24ff;
    background: #000000;
}

.whitePlaceholder::placeholder {
    color: #ffffff;
}

#tsparticles {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}