#mcaone{
    
    .accordion-button:focus, .accordion-button:enabled {
        background-color: var(--clr-four);
    }

    
<<<<<<<< HEAD:fe/src/GolbalCss/McaTwo.css
    .table-responsive {
        max-height: 100vh;
        
========
    .row .btn:active, .row .btn:hover {
        background-color: var(--clr-two-dark);

    }

    .search_input::placeholder{
        color: #fff;
    }

    .table-responsive {
        max-height: 100vh;

>>>>>>>> 1130ee0faa482088e0e4d909034b0d2aa425b13d:fe/src/GolbalCss/McaOne.css
    }
    
    thead .head{
        background: #d4beff;
    }
    
    thead th {
        background-color: var(--clr-four);
        position: sticky;
        top: -1px;
    }
    
    th.sticky-col,
    td.sticky-col {
        position: sticky;
        left: -1px;
        min-width: auto;
    }
    
    th.sticky-col-2,
    td.sticky-col-2 {
        position: sticky;
        left: 30px;
        min-width: auto;
        
    }
    
    td.sticky-col-2,
    td.sticky-col {
        z-index: 1;
    }
    
    th.sticky-col,
    th.sticky-col-2 {
        z-index: 3;
    }
}